<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128947226273-sfr0f8f25a5ie4r6iqsmpu1c9jb8est7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128947226273-sfr0f8f25a5ie4r6iqsmpu1c9jb8est7</string>
	<key>API_KEY</key>
	<string>AIzaSyAeOtF7VbtfN-YYihMwWItiKSnpM8hv3iw</string>
	<key>GCM_SENDER_ID</key>
	<string>128947226273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uthoff.sandhasenConnect</string>
	<key>PROJECT_ID</key>
	<string>sandhasen-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>sandhasen-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128947226273:ios:3112280a929a0e63de92e0</string>
</dict>
</plist>